
<div class="row justify-content-center">
  <div class="col">
    <div class="container text-center  mt-5">
      <h2>Tutorial</h2>
      <p>Left click to open cell</p>
      <p>Right click to set flag</p>
      <p>Click to <img src="assets/images/x.png" style="width: 30px; height: 30px"> icon to reset game</p>
      <img src="{{gifBilateral}}" style="max-width: 320px">
    </div>
  </div>
  <div class="col">
    <div class="container bg-light mt-5 p-0 boxMiner">
      <div class="container-fluid bg-secondary">
        <h2 class="text-center">MinerX</h2>
      </div>
      <div class="row text-center m-0 justify-content-around pb-2">
        <div class="col-3 status bg-info">
          {{countOpenCell}}
        </div>
        <div class="col-3 status">
          <img src="{{src}}" title="reset" style="width: 50px; height: 50px; cursor: pointer" (click)="reset();" >
        </div>
        <div class="col-3 status bg-success">
          <p><countdown #countdown [config]="{ leftTime: 600, demand: true}" (event)="handleEvent($event)"  style="font-family: Monaco, 'Agency FB';font-size: 30px"></countdown></p>
        </div>
      </div>
      <div class="row m-0 p-1" (contextmenu)="disableRightClick($event)">
        <div class="fireworks-container p-0" style="position: absolute; width: 600px; height: 440px" [hidden]="fireworksHidden"></div>
        <div  *ngFor="let box of myBox; index as i" class="box justify-content-center">
          <div class="innerBox {{box.color}} {{disableClick}}"  (contextmenu)="rightClickBox(i)" style="cursor: pointer;" (click)="boxClick(i)">
            <p *ngIf="box.value > 0 && box.clicked" class="text-center p-1" style="font-family: Monaco">{{box.value}}</p>
            <img *ngIf="boom !='' && box.clicked && box.value == 0" src="{{boom}}" style="height: 35px;width: 35px">
          </div>
        </div>

      </div>
      <div>
        <p>
          {{winTitle}}
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="container text-center mt-5">
      <h2>Leader board</h2>
      <div *ngFor="let rank of ranks">
        <p>{{rank.userName}} - {{rank.time}} - {{rank.playTime}}</p>
      </div>
      <img src="{{gifBilateral}}" style="max-width: 320px">
    </div>
  </div>
</div>

